<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    
</head>
<body>
        <nav class="navbar">
            <h1>Hospital Management System</h1>
            <ul>
                <li>Dashboard</li>
                <li>Patients</li>
                <li>Staff</li>
                <li>Appointments</li>
                
            </ul>
        </nav>
       
        <div class="box">
            <b><h2>Patients Details</h2></b><br><br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
            <form #myForm="ngForm">
                <div class="form-group">
                    <label for="Patient Id">
                        Patient Id
                    </label>
            <b>Enter Id</b> <br> <input type="text" placeholder="Enter Id" class="form-control" 
            name="PatientId" 
            #PatientId="ngModel" ngModel
            required
            pattern="[0-9]+" />
                </div>
            <div *ngIf="PatientId.touched">
                <div *ngIf="PatientId.errors?.['required']">
                  <b style="color: red;">Patient Id required</b>
                </div>
                <div *ngIf="PatientId.errors?.['pattern']">
                  <font color="red"><b>Invalid Patient Id</b></font>
                </div>
              </div>
            </form>
            </div>
      
                            
    </div>
</div>


        
  
           
             <b> Enter Name </b> <br> <input type="text" placeholder="Enter Name"><br><br>
            <b> Enter Age </b><br> <input type="text" placeholder="Enter Age"><br><br>
           <b> Enter Gender </b><br><input type="text" placeholder="Enter Gender"><br><br>
           
            <div><button class="btn btn-success" (click)="fun(myForm.value)">Insert</button><button class="btn btn-primary">Update</button><button class="btn btn-danger">Delete</button><button class="btn btn-warning">Find</button><button class="btn btn-info">Find All</button></div> 
        </div>

       
       
    </body>
</html>
