<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="app.component.css">
    
</head>
<body>
        <nav [ngClass]="navbar">
            <h1 >Hospital Management System</h1>
            <ul>
                <li>Dashboard</li>
                <li>Patients</li>
                <li>Staff</li>
                <li>Appointments</li>
                
            </ul>
        </nav>
        <div>
            <h2>Dashboard</h2>
            <p [ngStyle]="MyStyle">Welcome to the Hospital Management System.</p>
        </div>
        <div>
            <h2>Patients</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Priya Narayanan</td>
                        <td>21</td>
                        <td>Female</td>
                        <td>6334567890</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agilambal Sitheswaren</td>
                        <td>25</td>
                        <td>Female</td>
                        <td>9834567890</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Mounika Srinivasan</td>
                        <td>30</td>
                        <td>Female</td>
                        <td>8634567890</td>
                    </tr>
                
                        <tr>
                            <td><input type="text" placeholder="Enter Id"><br><br></td>
                            <td><input type="text" placeholder="Enter Name"><br><br></td>
                            <td><input type="text" placeholder="Enter Age"><br><br></td>
                            <td><input type="text" placeholder="Enter Gender"><br><br></td>
                            <td><input type="text" placeholder="Enter Contact"><br><br></td>
                        </tr>
                    </tbody>
                </table>
                <div [ngClass]="button"><button>Insert</button><button>Update</button><button>Delete</button><button>Find</button><button>Find All</button></div> 
        </div>

        <div>
            <h2>Staff</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Dr. Dhivya Saravanan</td>
                        <td>Doctor</td>
                        <td>321-654-9870</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Dr. RadhaKrishnan</td>
                        <td>Doctor</td>
                        <td>451-654-9870</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Dr. Ramki</td>
                        <td>Doctor</td>
                        <td>451-654-9870</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Dr. Poongodhai</td>
                        <td>Doctor</td>
                        <td>451-654-9870</td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Enter Id"><br><br></td>
                        <td><input type="text" placeholder="Enter Name"><br><br></td>
                        <td><input type="text" placeholder="Enter Role"><br><br></td>
                        <td><input type="text" placeholder="Enter Contact"><br><br></td>
                    </tr>
               </tbody>
            </table>
           <div [ngClass]="button"><button >Insert</button><button>Update</button><button>Delete</button><button>Find</button><button>Find All</button></div> 
        </div>
        <div>
            <h2>Appointments</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Madhubala Srinivasan</td>
                        <td>Dr. Thiyagarajan</td>
                        <td>31-07-2003</td>
                        <td>09:48 AM</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Priya Narayanan</td>
                        <td>Dr. Rajakumari </td>
                        <td>26-11-2003</td>
                        <td>05:30 AM</td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Enter Id"><br><br></td>
                        <td><input type="text" placeholder="Enter Patient Name"><br><br></td>
                        <td><input type="text" placeholder="Enter Doctor Name"><br><br></td>
                        <td><input type="text" placeholder="Enter Date"><br><br></td>
                        <td><input type="text" placeholder="Enter Time"><br><br></td>
                    </tr>
                </tbody>
            </table>
            <div [ngClass]="button"><button >Insert</button><button>Update</button><button>Delete</button><button>Find</button><button>Find All</button></div> 
        </div>
    </body>
</html>
